:root {
    --padding: 3cqi;
    --borderRadius: 3cqi;

    --fontSize: 2.5cqi;
    --fontFamily: system-ui;

    --secondaryColor: #ffebee;
    --backgroundColor: rgba(255, 199, 199, 1);

    /*  change this variable so the component
        sits above all others */
    --zIndex: 2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
    /* background-image: url('https://images.pexels.com/photos/250591/pexels-photo-250591.jpeg'); */
    background-size: cover;
}

.popup-wrapper.hidden {
    .dim-screen {
        animation: fadeOutDimScreen 1s;
    }
    .popup {
        visibility: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale3d(0.85, 0.85, 1);
    }
}

.dim-screen {
    backdrop-filter: blur(1px) brightness(80%);

    z-index: var(--zIndex);

    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    animation: fadeInDimScreen 2s;
}

@keyframes fadeInDimScreen {
    from {
        opacity: 0;
    }
}

@keyframes fadeOutDimScreen {
    to {
        opacity: 0;
    }
}

.popup {
    background-color: var(--secondaryColor);

    z-index: calc(var(--zIndex) + 1);

    position: absolute;
    top: 50%;
    left: 50%;

    border-radius: var(--borderRadius);
    padding: var(--padding);

    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale3d(0.85, 0.85, 1);
    transition: .3s;
}

.popup div {
    transition: transform 400ms 400ms, opacity 400ms 400ms;
    transform: translateY(0.7rem);
    opacity: 0; 
}

.popup.active {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.popup.active div {
    transform: translateY(0rem);
    opacity: 1; 
}

.popup> div:nth-child(1) {
    transition-delay: .15s;
}
.popup> div:nth-child(2) {
    transition-delay:  .3s;
}
.popup> div:nth-child(3) {
    transition-delay:  .4s;
}

.popup:nth-child(1) {
    animation: fadeInPopup 1s;
}

@keyframes fadeInPopup {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale3d(0.85, 0.85, 1);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.popup:nth-child(1)> div:nth-child(1) {
    transition-delay: .55s;
}
.popup:nth-child(1)> div:nth-child(2) {
    transition-delay: .8s;
}
.popup:nth-child(1)> div:nth-child(3) {
    transition-delay: .9s;
}

/* pseudo element adds space above button */
.popup> :nth-last-child(2)::after {

    /* non-breaking space */
    content: "\00a0";
    white-space: pre;
    display: flow-root;

    /* height of element */
    font-size: 3cqi;
}

.popup-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    min-width: 90%;

    border-radius: var(--borderRadius);
    border: none;
    padding: calc(var(--padding) / 2);

    transition: 0.3s;
    box-shadow: 0px 6px 0px -2px var(--backgroundColor);
    background-color: var(--secondaryColor);
    outline-color: var(--backgroundColor);

    cursor: pointer;
}

.popup-button:hover,
.popup-button:active,
.popup-button:focus {
    box-shadow: 0 0 #fff;
    transform: translate(-50%, 0.2rem);
}

.popup-text {
    /* font-size: var(--fontSize); */
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
}

p.popup-text {
    line-height: 3cqi;
    padding-inline: calc(var(--padding) / 5);
}

h1.popup-text {
    font-size:  calc(var(--fontSize) * 1.2);
    font-weight: 800;
    padding-bottom: calc(var(--padding) / 2);
}

button> .popup-text {
    font-weight: 500;
}