:root {
    --padding: 1.4rem;
    --border-width: .17rem;
    --borderRadius: 3cqi;

    --fontSize: 1rem;
    --fontFamily: system-ui, sans-serif;

    /*  change this variable so the component
        sits above all others */
    --zIndex: 99;

    /* CSS HEX */
    --silver: #C2BBB9ff;
    --light-blue: #A3C1CBff;
    --desert-sand: #ECD1B7ff;
    --alabaster: #E1E0D9ff;
    --cinereous: #918183ff;
    --powder-blue: #9BB9C8ff;
    --space-cadet: #353354ff;
    --rosy-brown: #C8A494ff;
    --slate-gray: #748B9Fff;
    --columbia-blue: #BDCDD6ff;
    --cornsilk: #FBF7DFff;
    --davys-gray: #4D4E64ff;

    /* Gradient */
    --gradient-button: linear-gradient(185deg, white, #FBF7DFff, #E0E4DCff, #E0E4DCff, #A3C1CBff);
    --gradient-button-shadow: linear-gradient(185deg, var(--slate-gray), var(--slate-gray), var(--alabaster));
    --gradient-popup: linear-gradient(180deg, white, white, var(--alabaster), var(--alabaster), var(--light-blue))
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
    background-image: url('https://images.pexels.com/photos/1440476/pexels-photo-1440476.jpeg');
    /* background-image: url('https://images.pexels.com/photos/3299265/pexels-photo-3299265.jpeg'); */
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.popup-list-wrapper.hidden {
    .dim-screen {
        animation: fadeOutDimScreen 1s;
    }

    .popup {
        visibility: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale3d(0.85, 0.85, 1);
    }
}

.dim-screen {
    backdrop-filter: blur(1cqi) brightness(80%);

    z-index: var(--zIndex);

    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    animation: fadeInDimScreen 2s;
}

@keyframes fadeInDimScreen {
    from {
        opacity: 0;
    }
}

@keyframes fadeOutDimScreen {
    to {
        opacity: 0;
    }
}

.popup {
    background-color: var(--secondaryColor);
    border-radius: calc(var(--borderRadius) / 2);
    border: var(--border-width) solid var(--space-cadet);
    background: var(--gradient-popup);
    padding: var(--padding);

    z-index: calc(var(--zIndex) + 1);

    position: absolute;
    top: 50%;
    left: 50%;

    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale3d(0.85, 0.85, 1);
    transition: .3s;
}

.popup div {
    transition: transform 400ms 400ms, opacity 400ms 400ms;
    transform: translateY(0.7rem);
    opacity: 0;
}

.popup.active {
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
}

.popup.active div {
    transform: translateY(0rem);
    opacity: 1;
}

.popup>div:nth-child(1) {
    transition-delay: .15s;
}

.popup>div:nth-child(2) {
    transition-delay: .3s;
}

.popup>div:nth-child(3) {
    transition-delay: .4s;
}

.popup:nth-child(1) {
    animation: fadeInPopup 1s;
}

@keyframes fadeInPopup {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale3d(0.85, 0.85, 1);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.popup:nth-child(1)>div:nth-child(1) {
    transition-delay: .55s;
}

.popup:nth-child(1)>div:nth-child(2) {
    transition-delay: .8s;
}

.popup:nth-child(1)>div:nth-child(3) {
    transition-delay: .9s;
}

/* pseudo element adds space above button */
.popup> :nth-last-child(2)::after {

    /* non-breaking space */
    content: "\00a0";
    white-space: pre;
    display: flow-root;

    /* height of element */
    font-size: 1.7rem;
}

.popup-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    min-width: 90%;

    border-radius: var(--borderRadius);
    border: var(--border-width) solid var(--space-cadet);
    padding: calc(var(--padding) / 2);
    background: var(--davys-gray);

    transition: 0.3s;
    box-shadow: 0 .3rem 0 0 var(--slate-gray);
    outline-color: var(--slate-gray);

    cursor: pointer;
}

.popup-button:hover,
.popup-button:active,
.popup-button:focus-visible {
    box-shadow: 0 0;
    transform: translate(-50%, 0.2rem);
}

.popup-text {
    color: var(--space-cadet);
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    overflow-wrap: break-word;
    hyphens: manual;
}

p.popup-text {
    line-height: 1.1rem;
    padding-inline: calc(var(--padding) / 5);
}

h1.popup-text {
    line-height: .9rem;
    font-size: calc(var(--fontSize) * 1.2);
    font-weight: 800;
    padding-bottom: var(--padding);
}

button>.popup-text {
    font-weight: 500;
    color: var(--alabaster);
}