:root {
    --padding: 1rem;
    --borderRadius: 1rem;
    --fontSize: 2rem;
    --paddingTopAndBottom: 0.2rem;

    --playIconSize: 5rem;

    --skeletonBorderRadius: 0.4rem;
    --skeletonOpacity: 0.4;

    --dimColour: black;

    /*  change this variable so the component
        sits above all others */
    --zIndex: 2;

    --font: Tahoma;
}

* {
    margin: 0;
    padding: 0;
}

.popup-wrapper.hidden {
    animation: fadeOutPopupWrapper 2s;
}

@keyframes fadeOutPopupWrapper {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.dim-screen {
    background-color: var(--dimColour);
    opacity: 0.3;

    z-index: var(--zIndex);

    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    animation: fadeInDimScreen 2s;
}

@keyframes fadeInDimScreen {
    from {
        opacity: 0;
    }
}

.popup {
    background-color: white;

    z-index: calc(var(--zIndex) + 1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;

    border-radius: var(--borderRadius);
    padding: var(--padding);
    min-width: 20rem;

    visibility: hidden;
}

.popup:first-child {
    animation: expandPopup 0.7s;
}

@keyframes expandPopup {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

.active {
    visibility: visible;
}

/* pseudo element adds space above button */
.popup> :nth-last-child(2)::after {


    /* non-breaking space */
    content: "\00a0";
    white-space: pre;
    display: flow-root;

    /* height of element */
    font-size: calc(var(--padding) / 2);
}

.popup-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    min-width: 60%;

    border-radius: var(--borderRadius);
    border: none;
    padding: calc(var(--padding) / 2);

    cursor: pointer;
}

.popup-button:focus, .popup-button:hover, .popup-button:active {
    animation: buttonActive .5;
}

@keyframes buttonActive {
    from {
        background-color: white;
    }
    to {
        background-color: black;
    }
}

.popup-text {
    font-size: var(--fontSize);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}